header {
    border-bottom: solid #dadce0;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.055), 0 2px 6px 2px rgba(60, 64, 67, 0.027);

    nav,
    nav ul {
        width: 100%;
        flex-wrap: nowrap;
        @include flexCenter(center, unset, row);
    }

    .logo {
        height: 100%;
        width: 150px;
        margin: 0 20px 0 0;
    }

    li:nth-child(2) {
        width: 200px;
        #search-subject {
            width: 100%;
            float: right;
            font-size: 1rem;
            padding: 2.5px 5px;
            border-color: #d1d2d4;
            border-width: 0 0 1px 0;

            transition: border-color 500ms ease;

            &:focus{
                border-color: #2F1A6E;
            }
        }
    }

}
