$paddingValue: 15px;

* {
    margin: 0;
    padding: 0;
    outline: 0;
    color: #3c4043;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "ubuntu", sans-serif;
}

@mixin flexCenter($align_items, $justify_content, $flex_direction) {
    display: flex;
    align-items: $align_items;
    justify-content: $justify_content;
    flex-direction: $flex_direction;
}

body {
    background-color: #f3f4f6;
}

@import './_picture.scss';
@import './_modal.scss';

footer,
header {
    width: 100%;
    overflow: hidden;
    padding: $paddingValue;
    background-color: #ffffff;
}

@import './_header.scss';
@import './_footer.scss';

@media only screen and(max-width: 900px) {
    footer,
    header {
        padding: $paddingValue($paddingValue - 5px);
    }
}

@media only screen and(max-width: 450px) {
    footer,
    header {
        padding: $paddingValue($paddingValue - 5px);
    }
}
