* {
  margin: 0;
  padding: 0;
  outline: 0;
  color: #3c4043;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: "ubuntu", sans-serif;
}

body {
  height: 100vh;
}

#main {
  padding: 15px;
  height: 100%;
  background-color: #f3f4f6;
}

#main #picture-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(420px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  gap: 15px;
}

.picture {
  position: relative;
  height: 250px;
  overflow: hidden;
  border-radius: 1.5px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0), 0 2px 6px 2px rgba(60, 64, 67, 0);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0), 0 2px 6px 2px rgba(60, 64, 67, 0);
}

.picture .overlay,
.picture img,
.picture a {
  width: 100%;
  height: 100%;
  border-radius: 1.5px;
}

.picture .overlay {
  cursor: pointer;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color 250ms ease-in;
  transition: background-color 250ms ease-in;
}

.picture .overlay .picture-author {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: right;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
  background-color: rgba(0, 0, 0, 0.296);
}

.picture .overlay .picture-author a {
  overflow: hidden;
  border-radius: 1.5px;
  white-space: nowrap;
  padding: 5px !important;
  color: transparent;
  -webkit-transition: color 250ms ease-in;
  transition: color 250ms ease-in;
}

.picture .overlay:hover {
  background-color: transparent;
  -webkit-box-shadow: 0 1px 2px 0 #3c4043, 0 2px 6px 2px #3c4043;
          box-shadow: 0 1px 2px 0 #3c4043, 0 2px 6px 2px #3c4043;
}

.picture .overlay:hover .picture-author {
  width: 100%;
}

.picture .overlay:hover .picture-author a {
  color: white !important;
}

#floating-action-button-container {
  display: none;
}

#floating-action-button-container .fab {
  display: none;
  z-index: 2;
  position: fixed;
  right: 5px;
  bottom: 5px;
  width: 50px;
  height: 50px;
  border-radius: 60%;
  background-color: #fff;
  border: 1px solid;
  border-color: #d1d2d4d4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.055), 0 2px 6px 2px rgba(60, 64, 67, 0.075);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.055), 0 2px 6px 2px rgba(60, 64, 67, 0.075);
}

#floating-action-button-container .fab svg {
  width: 24px;
  height: 24px;
  -ms-flex-line-pack: center;
      align-content: center;
}

#floating-action-button-container .fab svg g,
#floating-action-button-container .fab svg path {
  fill: #4f14be;
}

#floating-action-button-container #fab-main,
#floating-action-button-container #fab-main > * {
  cursor: pointer;
}

#floating-action-button-container #fab-main svg:last-child {
  display: none;
}

#floating-action-button-container #fab-main #fab-main-grid:checked ~ label svg:first-child {
  display: none;
}

#floating-action-button-container #fab-main #fab-main-grid:checked ~ label svg:last-child {
  display: block;
}

@media only screen and (max-width: 900px) {
  #main {
    margin: 10px;
    padding: 0;
  }
  #main #picture-container {
    gap: 10px;
  }
  #main #picture-container .picture .overlay {
    background-color: unset;
  }
  #main #picture-container .picture .overlay .picture-author {
    width: 30%;
  }
  #main #picture-container .picture .overlay .picture-author a {
    color: white;
  }
}

@media only screen and (max-width: 450px) {
  #floating-action-button-container,
  .fab {
    display: block;
  }
  header {
    top: 0;
    z-index: 1;
    position: fixed;
  }
  #main {
    margin: 0;
    padding: 0;
  }
  #main #picture-container {
    gap: 1px;
  }
  #main #picture-container .picture {
    height: 150px;
  }
  #main #picture-container .picture .overlay {
    background-color: none;
  }
  #main #picture-container .picture .overlay .picture-author {
    z-index: 0;
    width: 0;
  }
  #main #picture-container .picture .overlay .picture-author a {
    color: white;
  }
  footer {
    display: none !important;
  }
}

#modal {
  z-index: 4;
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 1200px;
  max-height: 627px;
  width: 80%;
  height: 70%;
  padding: 10px;
  border-radius: 1.5px;
  background-color: #fff;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

#modal #modal-picture {
  width: 100%;
  height: 100%;
  border-radius: 1.5px;
}

#modal.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

#modal.active,
#modal-overlay.active {
  display: block;
}

#modal-overlay {
  z-index: 3;
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.606);
}

footer,
header {
  width: 100%;
  overflow: hidden;
  padding: 15px;
  background-color: #ffffff;
}

header {
  border-bottom: solid #dadce0;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.055), 0 2px 6px 2px rgba(60, 64, 67, 0.027);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.055), 0 2px 6px 2px rgba(60, 64, 67, 0.027);
}

header nav,
header nav ul {
  width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .logo {
  height: 100%;
  width: 150px;
  margin: 0 20px 0 0;
}

header li:nth-child(2) {
  width: 200px;
}

header li:nth-child(2) #search-subject {
  width: 100%;
  float: right;
  font-size: 1rem;
  padding: 2.5px 5px;
  border-color: #d1d2d4;
  border-width: 0 0 1px 0;
  -webkit-transition: border-color 500ms ease;
  transition: border-color 500ms ease;
}

header li:nth-child(2) #search-subject:focus {
  border-color: #4f14be;
}

footer {
  border-top: 1px solid #dadce0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .pagination-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .pagination-container #next-page,
footer .pagination-container #prev-page,
footer .pagination-container #page-number {
  width: 30px;
  height: 30px;
  border: 1px solid #d1d2d464;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
}

footer .pagination-container #next-page svg,
footer .pagination-container #prev-page svg,
footer .pagination-container #page-number svg {
  width: 25px;
  height: 25px;
}

footer .pagination-container #next-page:not(#page-number):hover,
footer .pagination-container #prev-page:not(#page-number):hover,
footer .pagination-container #page-number:not(#page-number):hover {
  cursor: pointer;
  background-color: #4f14be;
}

footer .pagination-container #next-page:not(#page-number):hover svg path,
footer .pagination-container #prev-page:not(#page-number):hover svg path,
footer .pagination-container #page-number:not(#page-number):hover svg path {
  fill: #fff;
}

footer .pagination-container #page-number {
  text-align: center;
  border-radius: 0;
  width: 35px !important;
}

footer .pagination-container #prev-page {
  border-radius: 40px 0 0 40px;
}

footer .pagination-container #prev-page:disabled:hover,
footer .pagination-container #next-page:disabled:hover {
  cursor: default !important;
  background-color: #e9e9ed !important;
}

footer .pagination-container #prev-page:disabled:hover svg path,
footer .pagination-container #next-page:disabled:hover svg path {
  fill: #3c4043 !important;
}

footer .pagination-container #next-page {
  border-radius: 0 40px 40px 0;
}

@media only screen and (max-width: 900px) {
  header li:nth-child(2),
  header #search-subject {
    width: 40%;
  }
  header nav,
  header nav ul {
    width: 100%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer,
  header {
    padding: 15px 10px;
  }
}

@media only screen and (max-width: 450px) {
  header li:nth-child(2),
  header #search-subject {
    width: 100%;
  }
  #picture-container {
    margin-top: 70px;
  }
  footer,
  header {
    padding: 15px 10px;
  }
}
/*# sourceMappingURL=styles.css.map */